/* body {
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.container {
    background-color: rgb(84, 162, 207);
    display: flex;
    justify-content: space-evenly;
    height: 50em;
    width: 30em;
}

.hijo {
    background-color: rgb(247, 232, 33);
    display: flex;
    justify-content: center;
    width: 5em;
}

.container1 {
    background-color: rgb(235, 8, 121);
    display: flex;
    justify-content: space-evenly;
    height: 50em;
    width: 10em;
}
.container2 {
    background-color: rgb(235, 8, 121);
    display: flex;
    justify-content: space-evenly;
    height: 50em;
    width: 10em;
} */