div ::-webkit-scrollbar {
    width: 12px;
    /* Ancho de toda la barra de desplazamiento */
}

div ::-webkit-scrollbar-track {
    background: rgb(190, 241, 2);
    /* Color del área de seguimiento */
}

div ::-webkit-scrollbar-thumb {
    background-color: rgb(0, 182, 182);
    /* Color del botón de desplazamiento */
    border-radius: 20px;
    /* Redondez del botón de desplazamiento */
    border: 3px solid rgb(0, 0, 0);
}

.contenedor {
    /*  Elemento padre  */
    background: radial-gradient(circle farthest-corner at 10% 20%, rgb(36, 223, 236) 17.8%, rgb(37, 1, 85) 100.2%);
    display: flex;
    justify-content: space-evenly;
}

.bloqueCentral {
    display: inline-flex;
    align-items: center;
}

button {
    height: 55vh;
    width: 3vw;
    background: radial-gradient(circle farthest-corner at 10% 20%, rgb(2, 245, 255, 1) 17.8%, rgb(147, 231, 121) 100.2%);
    color: rgb(0, 0, 0);
    border: 5px solid black;
}


.infoPokemon {
    /*  Elemento padre  */
    background: radial-gradient(circle farthest-corner at 10% 20%, rgb(147, 231, 121) 17.8%, rgba(2, 245, 255, 1) 100.2%);
    border: 10px solid black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 80vh;
    width: 15vw;
    border-radius: 1em;
}

.stats {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    word-wrap: break-word;
    /* Ajustar el texto al ancho del div */
    overflow-y: scroll;
    background-color: rgb(249, 249, 252);
    border: 5px solid black;
    height: 22vh;
    width: 10vw;
}

.abilities {
    background-color: rgb(249, 249, 252);
    word-wrap: break-word;
    /* Ajustar el texto al ancho del div */
    overflow-y: scroll;
    border: 5px solid black;
    height: 20vh;
    width: 10vw;
}

.moves {
    background-color: rgb(249, 249, 252);
    word-wrap: break-word;
    /* Ajustar el texto al ancho del div */
    overflow-y: scroll;
    border: 5px solid black;
    height: 20vh;
    width: 10vw;
}

.infoPokemon p {
    padding-left: 1em;
    font-family: "Ubuntu", sans-serif;
    font-weight: 800;
    font-style: normal;
    background: black;
    background-clip: text;
    color: transparent;
}

.pokeCard {
    /*  Elemento padre  */
    background: radial-gradient(circle farthest-corner at 10% 20%, rgb(147, 231, 121) 17.8%, rgba(2, 245, 255, 1) 100.2%);
    border: 10px solid black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 60vh;
    width: 40vw;
    border-radius: 2em;
}

#namePoke {
    font-size: 30;
    color: white;
}

.viewPoke {
    display: flex;
    justify-content: space-between;
}

.viewPoke img {
    height: 40vh;
    width: auto;
    background-image: url(../img/fondo2.png);
    background-size: cover;
}

.tipos {
    display: flex;
    justify-content: space-between;
}

.tipos p {
    padding: 1em;
}

.galeriaPokemon {
    /*  Elemento padre  */
    background: radial-gradient(circle farthest-corner at 10% 20%, rgb(147, 231, 121) 17.8%, rgba(2, 245, 255, 1) 100.2%);
    border: 10px solid black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 80vh;
    width: 15vw;
    flex-wrap: wrap;
    border-radius: 1em;
}

.onepoke {
    background-color: rgb(249, 249, 252);
    flex-wrap: wrap;
    border: 5px solid black;
    height: 20vh;
    width: 10vw;
}

.twopoke {
    background-color: rgb(249, 249, 252);
    border: 5px solid black;
    height: 20vh;
    width: 10vw;
}

.treepoke {
    background-color: rgb(249, 249, 252);
    border: 5px solid black;
    height: 20vh;
    width: 10vw;
}

.galeriaPokemon img {
    height: 20vh;
    width: 10vw;
    background-image: url(../img/fondo3.jpeg);
    background-size: cover;

}